name: Update YouTube Playlist

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # Updated to 3.10

      - name: Install dependencies
        run: pip install yt-dlp PyGithub

      - name: Create Cookie File
        run: |
          echo "${{ secrets.YT_COOKIES }}" > cookies.txt

      - name: Run Script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python update_playlist.py
